{% extends 'base.html' %}

<!-- Example Access: http://127.0.0.1:5000/2/debug --!>

{% block header %}

    <h1>{% block title  %} *** Debug Flask_Base ***  {% endblock %}</h1>

{% endblock %}


{% block content %}
 <!-- Debug dict --!>
    {% for key in post %}
    <!-- <li>key : {#{ key }#}</li> --!>
    <!-- <li>post[key]: {#{ post[key] }#} key : {#{ key }#} </li> --!>
    {% endfor %}

     <!-- Debug dict --!>
    {% for k in post.keys() %}
    <!-- <li>k: {i#{ k }#}  </li> --!>
    <li>post[{{k}}] : {{post[k]}} </li>
    {% endfor %}   


{% endblock %}
